<header class="app-header">
  <div class="header-icon">
    <span class="block red"></span>
    <span class="block yellow"></span>
    <span class="block green"></span>
    <span class="block blue"></span>
  </div>
  <h1>OrgTrix</h1>
</header>

<div class="board-toolbar">
  <!-- left side -->
  <button class="add-column-btn" (click)="openAddColumnModal()">
    + Add Column
  </button>
  <!-- right side -->
   <div class="toolbar-menu">
    <button class="menu-btn" (click)="toggleToolbarMenu($event)">⋮</button>
    @if(isToolbarMenuOpen){
      <div class="dropdown">
        <button (click)="openResetBoardConfirm()">
          Reset Board
        </button>
      </div>
    }
   </div>
</div>

<div class="board-layout" cdkDropListGroup cdkScrollable>

  @for (column of columns; track column.id) {
  <app-column [columnId]="column.id" [connectedTo]="connectedColumnIds" [title]="column.title" [tasks]="column.tasks"
    [color]="column.color" [showAddButton]="true" [showDeleteAll]="true" (addTask)="openAddModal(column.id)"
    (deleteAll)="openDeleteConfirm(column.id)" (edit)="openEditModal($event)" (delete)="openTaskDeleteConfirm($event)"
    [isMenuOpen]="activeMenuColumnId === column.id" (menuToggle)="toggleMenu(column.id)"
    (sort)="sortColumn(column, $event)" [sortField]="column.sortField ?? undefined"
    [sortDirection]="column.sortDirection ?? undefined" (resetSort)="resetColumnSort(column)"
    (deleteColumn)="openDeleteColumnConfirm($event)" (taskMoved)="onTaskMoved()">
  </app-column>
  }

</div>


<!-- ADD MODAL -->
@if (showAddModal) {
<div class="modal-backdrop">
  <div class="modal">
    <h3>New Task</h3>

    <input type="text" placeholder="Title" [(ngModel)]="newTask.title">
    <textarea placeholder="Description" [(ngModel)]="newTask.description"></textarea>

    <div class="cdk-select" cdkOverlayOrigin #addTrigger="cdkOverlayOrigin" (click)="toggleAddDropdown()">

      {{ newTask.priority || 'Select Priority' }}
    </div>

    <ng-template cdk-connected-overlay [cdkConnectedOverlayOrigin]="addTrigger"
      [cdkConnectedOverlayOpen]="isAddDropdownOpen" [cdkConnectedOverlayHasBackdrop]="true"
      (backdropClick)="closeAddDropdown()">

      <div class="dropdown-panel priority-dropdown">
        <div class="option high" (click)="selectAddPriority('High')">
          <span class="dot red-dot"></span>
          High
        </div>

        <div class="option medium" (click)="selectAddPriority('Medium')">
          <span class="dot yellow-dot"></span>
          Medium
        </div>

        <div class="option low" (click)="selectAddPriority('Low')">
          <span class="dot green-dot"></span>
          Low
        </div>
      </div>

    </ng-template>

    <div class="cdk-select" cdkOverlayOrigin #addDateTrigger="cdkOverlayOrigin" (click)="toggleAddDate()">

      {{ newTask.dueDate ? (newTask.dueDate | date:'mediumDate') : 'Select Due Date' }}
    </div>

    <ng-template cdk-connected-overlay [cdkConnectedOverlayOrigin]="addDateTrigger"
      [cdkConnectedOverlayOpen]="isAddDateOpen" [cdkConnectedOverlayHasBackdrop]="true"
      [cdkConnectedOverlayPositions]="dateOverlayPositions" (backdropClick)="closeAddDate()">

      <div class="date-panel">

        <!-- Calendar Header -->
        <div class="calendar-header">

          <div class="year-controls">
            <button (click)="previousYear()">«</button>
            <button (click)="previousMonth()">‹</button>
          </div>

          <span class="month-label">
            {{ currentMonth | date:'MMMM yyyy' }}
          </span>

          <div class="year-controls">
            <button (click)="nextMonth()">›</button>
            <button (click)="nextYear()">»</button>
          </div>

        </div>

        <!-- Days Grid -->
        <div class="date-cell" *ngFor="let day of getDaysInMonth()" [class.selected]="
         newTask.dueDate &&
         newTask.dueDate.getDate() === day.getDate() &&
         newTask.dueDate.getMonth() === day.getMonth() &&
         newTask.dueDate.getFullYear() === day.getFullYear()
       " (click)="selectAddDate(day)">

          {{ day.getDate() }}
        </div>

      </div>


    </ng-template>


    <div class="modal-actions">
      <button (click)="addTask()">Add</button>
      <button (click)="closeAddModal()">Cancel</button>
    </div>
  </div>
</div>
}


<!-- EDIT MODAL -->
@if (showEditModal && editingTask) {
<div class="modal-backdrop">
  <div class="modal">
    <h3>Edit Task</h3>

    <input type="text" [(ngModel)]="editingTask.title">
    <textarea [(ngModel)]="editingTask.description"></textarea>

    <div class="cdk-select" cdkOverlayOrigin #editTrigger="cdkOverlayOrigin" (click)="toggleEditDropdown()"> {{
      editingTask.priority || 'Select Priority' }} </div> <ng-template cdk-connected-overlay
      [cdkConnectedOverlayOrigin]="editTrigger" [cdkConnectedOverlayOpen]="isEditDropdownOpen"
      [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="closeEditDropdown()">

      <div class="dropdown-panel priority-dropdown">
        <div class="option high" (click)="selectAddPriority('High')">
          <span class="dot red-dot"></span>
          High
        </div>

        <div class="option medium" (click)="selectAddPriority('Medium')">
          <span class="dot yellow-dot"></span>
          Medium
        </div>

        <div class="option low" (click)="selectAddPriority('Low')">
          <span class="dot green-dot"></span>
          Low
        </div>
      </div>

    </ng-template>

    <div class="cdk-select" cdkOverlayOrigin #editDateTrigger="cdkOverlayOrigin" (click)="toggleEditDate()">

      {{ editingTask.dueDate ? (editingTask.dueDate | date:'mediumDate') : 'Select Due Date' }}
    </div>

    <ng-template cdk-connected-overlay [cdkConnectedOverlayOrigin]="editDateTrigger"
      [cdkConnectedOverlayOpen]="isEditDateOpen" [cdkConnectedOverlayHasBackdrop]="true"
      [cdkConnectedOverlayPositions]="dateOverlayPositions" (backdropClick)="closeEditDate()">

      <div class="date-panel">

        <!-- Calendar Header -->
        <div class="calendar-header">

          <div class="year-controls">
            <button (click)="previousYear()">«</button>
            <button (click)="previousMonth()">‹</button>
          </div>

          <span class="month-label">
            {{ currentMonth | date:'MMMM yyyy' }}
          </span>

          <div class="year-controls">
            <button (click)="nextMonth()">›</button>
            <button (click)="nextYear()">»</button>
          </div>

        </div>

        <!-- Days Grid -->
        <div class="date-cell" *ngFor="let day of getDaysInMonth()" [class.selected]="
         editingTask.dueDate &&
         editingTask.dueDate.getDate() === day.getDate() &&
         editingTask.dueDate.getMonth() === day.getMonth() &&
         editingTask.dueDate.getFullYear() === day.getFullYear()
       " (click)="selectEditDate(day)">

          {{ day.getDate() }}
        </div>

      </div>

    </ng-template>

    <div class="modal-actions">
      <button (click)="updateTask()">Update</button>
      <button (click)="closeEditModal()">Cancel</button>
    </div>
  </div>
</div>
}


<!-- DELETE CONFIRM -->
@if (showDeleteConfirm) {
<div class="modal-overlay">
  <div class="modal-box">
    <h3>Confirm Deletion</h3>
    <p>Are you sure you want to delete all tasks?</p>

    <div class="modal-actions">
      <button class="cancel-btn" (click)="closeDeleteConfirm()">
        Cancel
      </button>

      <button class="danger-btn" (click)="confirmDelete()">
        Yes, Delete
      </button>
    </div>
  </div>
</div>
}

<!-- DELETE SINGLE TASK CONFIRM -->
@if (showTaskDeleteConfirm) {
<div class="modal-overlay">
  <div class="modal-box">
    <h3>Delete Task</h3>
    <p>Are you sure you want to delete this task?</p>

    <div class="modal-actions">
      <button class="cancel-btn" (click)="closeTaskDeleteConfirm()">
        Cancel
      </button>

      <button class="danger-btn" (click)="confirmTaskDelete()">
        Yes, Delete
      </button>
    </div>
  </div>
</div>
}

<!--Add Column Modal-->
@if (showAddColumnModal) {
<div class="modal-backdrop">
  <div class="modal">
    <h3>Add New Column</h3>

    <!-- TITLE -->
    <input type="text" placeholder="Column Title" [(ngModel)]="columnTitleInput" />

    <!-- COLOR SELECT (CDK) -->
    <div class="cdk-select" cdkOverlayOrigin #colorTrigger="cdkOverlayOrigin" (click)="toggleColumnColor()">
      {{ columnColorInput || 'Select Color' }}
    </div>

    <ng-template cdk-connected-overlay [cdkConnectedOverlayOrigin]="colorTrigger"
      [cdkConnectedOverlayOpen]="isColumnColorOpen" [cdkConnectedOverlayHasBackdrop]="true"
      (backdropClick)="closeColumnColor()">
      <div class="color-palette">
        @for (color of availableColors; track color.value) {
        <div class="color-swatch" [ngStyle]="{'background-color': color.value}"
          [class.selected]="columnColorInput === color.value" title="{{color.name}}"
          (click)="columnColorInput = color.value; closeColumnColor()">
        </div>
        }
      </div>
    </ng-template>


    <!-- POSITION SELECT (CDK) -->
    <div class="cdk-select" cdkOverlayOrigin #positionTrigger="cdkOverlayOrigin" (click)="toggleColumnPosition()">
      Insert at:
      @if (columnInsertPosition === columns.length) {
      End
      } @else {
      Before "{{ columns[columnInsertPosition]?.title }}"
      }
    </div>

    <ng-template cdk-connected-overlay [cdkConnectedOverlayOrigin]="positionTrigger"
      [cdkConnectedOverlayOpen]="isColumnPositionOpen" [cdkConnectedOverlayHasBackdrop]="true"
      (backdropClick)="closeColumnPosition()">
      <div class="dropdown-panel">
        @for (column of columns; let i = $index; track column.id) {
        <div class="option" (click)="columnInsertPosition=i; closeColumnPosition()">
          Before "{{ column.title }}"
        </div>
        }

        <div class="option" (click)="columnInsertPosition=columns.length; closeColumnPosition()">
          At End
        </div>
      </div>
    </ng-template>

    <!-- ACTION BUTTONS -->
    <div class="modal-actions">
      <button (click)="addColumn()">Add</button>
      <button (click)="closeAddColumnModal()">Cancel</button>
    </div>

  </div>
</div>
}
<!--delete column modal-->

@if (showColumnDeleteConfirm){
<div class="modal-overlay">
  <div class="modal-box">
    <h3>Delete Column</h3>
    <p>Are you sure you want to delete this column and all its tasks?</p>

    <div class="modal-actions">
      <button class="cancel-btn" (click)="closeDeleteColumnConfirm()">Cancel</button>
      <button class="danger-btn" (click)="confirmColumnDelete()">Yes, Delete</button>
    </div>
  </div>
</div>
}

<!-- RESET BOARD MODAL -->

@if(showResetBoardConfirm){
  <div class="modal-overlay">
  <div class="modal-box">
    <h3>Reset Board</h3>
    <p>Are you sure you want to reset the board ? </p>

    <div class="modal-actions">
      <button class="cancel-btn" (click)="closeResetBoardConfirm()">Cancel</button>
      <button class="danger-btn" (click)="confirmResetBoard()">Yes, Reset</button>
    </div>
  </div>
</div>
}