:host {
  display: block;
  flex: 0 0 260px;   /* fixed width */
  max-width: 260px;  /* prevent stretching */
}


/* Column container */
.column {
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 18px;
  min-height: 520px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.column:hover {
  transform: translateY(-6px);
}



.column {
  display: flex;
  flex-direction: column;
}

.add-task-btn {
  margin-top: auto;   /* pushes button to bottom */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  cursor: pointer;
  font-weight: 600;
  background:white;
  color: black;
  transition: 0.2s ease;
}

.add-task-btn:hover {
  background: black;
  color: white;
  transform: translateY(-2px);
}


.column-header {
  padding: 14px 16px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: white;
}

.column-header h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}


/* COLORS */
.red {
  background-color: #e74c3c;
}

.yellow {
  background-color: #d4ac0d;
}

.green {
  background-color: #27ae60;
}

.blue {
  background-color: #3498db;
}


.column-title {
  margin: 0;
  flex: 1;
}

.menu-container {
  position: relative;
}

.menu-btn {
  color: white;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 4px 8px;
}

.dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  padding: 8px 12px;
  border-radius: 20px; /* makes it pill-shaped */
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  z-index: 10;
  white-space: nowrap; /* prevents text wrapping */
}

.dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}


.dropdown button:hover {
  background: #f5f5f5;
}


