<div class="column">
  <div class="column-header" [ngClass]="color">
    <h2 class="column-title">{{ title }}</h2>

    @if (showDeleteAll || columnId !== 'todo') {
      <div class="menu-container">
        <button class="menu-btn" (click)="toggleMenu($event)">⋮</button>


        @if (isMenuOpen) {
          <div class="dropdown">

            @if (columnId !== 'todo') {
              <button (click)="onAddTask(); toggleMenu($event)">
                Add Task
              </button>
            }

            @if (showDeleteAll) {
              <button (click)="onDeleteAll(); toggleMenu($event)">
                Delete All Tasks
              </button>
            }

          </div>
        }
      </div>
    }
  </div>

  <!-- TASK LIST -->
  <div
    cdkDropList
    [id]="columnId"
    [cdkDropListData]="tasks"
    [cdkDropListConnectedTo]="connectedTo"
    class="task-list"
    (cdkDropListDropped)="drop($event)"
  >
    @for (task of tasks; track task.id) {
      <div cdkDrag>
        <app-task
          [task]="task"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
        >
        </app-task>
      </div>
    }
  </div>

  @if (showAddButton && columnId === 'todo') {
    <button class="add-task-btn" (click)="onAddTask()">
      + Add Task
    </button>
  }
</div>
